.App {
  background-color: white;
  text-align: center;
  margin-top: 20px;
}

.MainLogo {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Sidebar {
  background-color: aliceblue;
  border-radius: 15px;
  display: flexbox;
  margin-left: 15px;
  padding: 4px;
  height: 80vh;
}

.TextBox {
  height: 33vh;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.ConversationList {
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ContactList {
  margin: 3px;
  border-radius: 5px;
}

.ContactModal {
  padding: 15px;
  background-color: aliceblue;
  display: flexbox;
}

.YourId {
  display: flex;
  flex-flow: column;
  padding: 3px;
  margin: 8px;
  border-radius: 5px;
  outline-style: solid;
  outline-color: darkgray;
  outline-width: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
