.App {
  background-color: white;
  text-align: center;
  margin-top: 20px;
}

.MainLogo {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
}

.Sidebar {
  background-color: aliceblue;
  border-radius: 15px;
  display: flexbox;
  margin-left: 15px;
  padding: 4px;
  height: 95vh;
}

.Header {
  background-color: aliceblue;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.TextBox {
  margin-bottom: 15px;
  margin-top: 10px;
}

.MessageForm {
  max-height: 100vh;
  margin-right: 20px;
  margin-left: 20px;
}

.MessageBubble {
  display:flex;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 20px;
}

.ContactLabel {
  color: lightgray;
  margin-left: 5px;
  font-size: 10px;
  padding-right: 5px;
}

.ConversationList {
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ContactList {
  margin: 3px;
  border-radius: 5px;
}

.ContactModal {
  padding: 15px;
  background-color: aliceblue;
  display: flexbox;
}

.YourId {
  display: flex;
  flex-flow: column;
  position: sticky;
  padding: 3px;
  margin: 8px;
  border-radius: 5px;
  outline-style: solid;
  outline-color: darkgray;
  outline-width: 2px;
  margin-top: 35vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

